.dropdown a {
    border: 0;
}

.navbar-toggler {
    border: 0;
    color: red;
}

.pointer {
    cursor: pointer;
}

.navbar-brand img {
    width: auto;
    height: 4.5rem;
}

.nav-link {
    font-size: 1.10rem;
    font-weight: 600;
}

/* ==================================================================== */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sizing {
        width: 22%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .sizing {
        width: 32%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .sizing {
        width: 32%;
    }
}

/* i {
    color: red;
    font-size: 20px;
} */