<!-- Footer -->
<footer class="bg-light text-dark pt-2 pb-2">
    <div class=" d-flex justify-content-center text-center text-md-start px-3">
        <div class="row text-center text-md-start px-3">
            <!-- Empresa y descripcion -->
            <div class="col-lg-4 col-xl-4 mx-auto mt-3">
                <h2 class="font-weight-bold text-primary text-md-center">
                    Multiservicios <span class="text-uppercase">Ibarra</span>
                </h2>
                <hr class="mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi aliquid cum labore. Porro
                    perspiciatis corrupti animi sed vero excepturi eveniet asperiores quae quasi quod totam fugiat
                    cumque, quas voluptas.</p>
            </div>
            <!-- End Empresa y descripcion -->

            <!-- Ayudas -->
            <div class="col-lg-3 col-xl-3 mx-auto mt-3 text-md-center">
                <h2 class="text-uppercase font-weight-bold text-primary text-md-center">
                    Dejanos ayudarte
                </h2>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark">Nosotros</a>
                </p>
                <p>
                    <a href="#" class="text-dark">Ayuda</a>
                </p>
                <p>
                    <a href="#" class="text-dark">Mi Cuenta</a>
                </p>
                <p>
                    <a href="#" class="text-dark">Tienda</a>
                </p>
            </div>
            <!-- End Ayudas -->

            <!-- Direccion -->
            <div class="col-lg-5 col-xl-5 mx-auto mt-3">
                <h2 class="text-uppercase font-weight-bold text-primary text-md-center">
                    Direccion
                </h2>
                <hr class="mb-4">
                <div class="d-flex justify-content-center ">
                    <div class="text-center text-lg-start">
                        <p>
                            <li class="fa-solid fa-location-dot me-2"></li> Av. Nicolás Arriola 2291. La Victoria,
                            Lima
                        </p>
                        <p>
                            <li class="fa-solid fa-phone me-2"></li> (511) 325-7990
                        </p>
                        <p>
                            <li class="fa-solid fa-envelope me-2"></li> ventas.web@jchllantas.com.pe
                        </p>
                        <p>
                            <li class="fa-solid fa-clock me-2"></li> Tiendas: Lun-Vier 8:30 a 18:00 y Sáb 8:30 a
                            15:00
                        </p>
                        <p class="">
                            <li class="fa-solid fa-clock me-2"></li> <span class="text-center text-lg-start">Tiendas
                                Taller: Lun-Vier
                                8:30 a 18:00 y Sáb
                                8:30
                                a 15:00</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- End direccion -->
            <hr class="mb-4">
            <!-- Copyright -->
            <div class="text-center mb-2">
                <p>
                    © 2023 Copyright
                    <a class="text-reset fw-bold" href="#" style="text-decoration: none;">Dev IIO</a>
                </p>
            </div>
            <!-- End Copyright -->

            <!-- Redes sociales-->
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="" class="text-dark">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="text-dark">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="text-dark">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="text-dark">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Redes sociales-->

        </div>
    </div>
</footer>
<!-- End footer -->