<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrate</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="clear()"></button>
        </div>
        <div class="modal-body">
            <!-- Formulario registrar -->
            <form>
                <div class="row g-2">
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="email" class="form-control form-control-sm" id="floatingInputUser"
                                placeholder="name@example.com" [(ngModel)]="email" name="email">
                            <label for="floatingInputUser">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="password" class="form-control form-control-sm" id="floatingInputPasssword"
                                placeholder="Ingrese contraeña" [(ngModel)]="password" name="password">
                            <label for="floatingInputPassword">Ingresa tu contraseña</label>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Formulario registrar -->
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="clear()"><i
                    class="fa-solid fa-cancel"></i>
                Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="save()"><i
                    class="fa-solid fa-save"></i>
                Guardar</button>
        </div>
    </div>
</div>